.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #1c2237;
}
.roster-form-container {
    margin: 100px auto;
    width: 1000px;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.roster-2), 0 7px 20px 0 rgba(0, 0, 0, 0.roster-2); */
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .roster-close-btn {
    position: relative;
    top: 2%;
    right: 3%;
    font-size: 1.roster-5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
  }
  
  .roster-form-content-left {
    background: linear-gradient(
      90deg,
      #1c2237 0%,
      #1c2237 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
  .form-img {
    width: 100%;
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    max-width: 100%;
    vertical-align: right;
    display: inline-block;
  }
  
  .form-img-2 {
    width: 60%;
    height: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* .roster-form-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  } */
  
  .roster-form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, #093679 0%,#093679 100%);
  }
  
  .roster-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .roster-form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .roster-form-inputs {
    margin-bottom: 0.roster-5rem;
    width: 80%;
  }
  
  .roster-form-inputs p {
    font-size: 0.roster-8rem;
    margin-top: 0.roster-5rem;
    color: #f00e0e;
  }
  
  .roster-form-label {
    display: inline-block;
    font-size: 0.roster-8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .roster-form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .roster-form-input::placeholder {
    color:gray;
    font-size: 12px;
  }
  
  .roster-form-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      #093679 0%,
      #093679 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .roster-form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      #276afb 0%,
      #276afb 100%
    );
    transition: all 0.roster-4s ease-out;
  }
  
  .roster-form-input-login {
    font-size: 0.roster-8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .roster-form-input-login a {
    text-decoration: none;
    color: #1c2237;
    font-weight: 600;
  }

  @media screen and (max-width:
991px) {
    .roster-container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .roster-form-container {
      margin: 100px auto;
      width: 1000px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.roster-2), 0 7px 20px 0 rgba(0, 0, 0, 0.roster-2);
      position: relative;
      border-radius: 10px;
      height: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .roster-form-content-left {
      background: linear-gradient(
        90deg,
        #1c2237 0%,
        #1c2237 100%
      );
      border-radius: 10px 0 0 10px;
      position: relative;
    }
    
    .roster-form-img {
      width: 80%;
      height: 80%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 0;
      max-width: 100%;
      vertical-align: right;
      display: inline-block;
    }
    
    .roster-form-img-2 {
      width: 60%;
      height: 60%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .roster-form-content-right {
      border-radius: 0 10px 10px 0;
      position: relative;
      background: linear-gradient(90deg, #093679 0%,#093679 100%);
    }
    
    .roster-form {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}



@media screen and (max-width: 
768px) {
    .roster-home__hero-text-wrapper{
        padding-bottom: 65px;

    }
    

  }

/* ///////////////////////////////////////Roster///////////////////////////////////// */

.Roster {
  --custom-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.Roster__nav {
  background-color: #0b1b32;
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.Roster__header {
  background-color: #0b1f3a;
  color: #bdbdbd;
  font-family: var(--custom-font);
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  text-shadow: 2px 1px 2px black;
}

.Roster__header a {
  color: #bdbdbd;
}

.Roster__main {
  background-color: #0b1f3a;
  grid-area: main;
  height: calc(100vh - 120px);
  overflow: auto;
}

/* ////////////////////////////////////StudentListtNav///////////////////   */
.StudentListNav__folder-link {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.StudentListNav__folder-link:hover {
  color: #FFB72F;
  cursor: pointer;
}
.StudentListNav__folder-link.Rosterive {
  background-color: #1c2237;
}

.StudentListNav__num-notes {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}


.StudentListNav__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}

.StudentListNav__button-wrapper {
  margin: 0 0 0 auto;
  max-width: 180px;
}

.StudentListNav__add-folder-button {
  margin: 20px auto;
}
.StudentListNav__add-folder-button:hover {
  background-color: #29862e;
  color: white;
}

.StudentListNav__folder-link {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.StudentListNav__folder-link:hover {
  color: #FFB72F;
  cursor: pointer;
}
.StudentListNav__folder-link.Studentactive {
  background-color: #102541;
}

.StudentListNav__num-notes {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}


/* //////////////////////////StudentListMain/////////////////////////////////// */


.StudentListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.StudentListMain__button-container {
  max-width: 380px;
  margin: 0 10px;
}

.StudentListMain__add-student-button {
  margin: 0 auto 20px;
}
.StudentListMain__add-student-button:hover {
  background-color: #29862e;
  color: white;
}
/* ////////////////////////////////Student/////////////////////////////////////// */

.Student {
  --note-height: 88px;
  background-color: #010d1e;
  color: #cacaca;
  height: var(--note-height);
  margin-bottom: 8px;
  max-width: 380px;
  padding: 8px 0 8px 8px;
  position: relative;
}

.Student__delete {
  --note-button-height: 32px;
  background-color: #041a3a;
  border: 0;
  color: #bdbcbc;
  float: right;
  font-size: 12px;
  height: var(--note-button-height);
  position: relative;
  top: calc((var(--note-button-height) + 32px) * -1);
  transform-origin: right bottom;
  transform: rotate(-90deg);
  width: calc(var(--note-height));
}
.Student__delete:hover {
  background-color: #bd0909;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.Student__title {
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0;
  max-width: 80%;
  min-height: 24px;
}
.Student__title a {
  color: #cacaca;
  display: block;
  text-decoration: none;
}
.Student__title a:hover {
  color: #FFB72F;
}

.Student__dates {
  bottom: 8px;
  color: #a7a5a5;
  font-size: 14px;
  position: relative;
}
/* //////////////////////////////////////////////////StudentPageMain///////////////////////////////////// */


.StudentPageMain {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.StudentPageMain__content {
  color: #3a3939;
  max-width: 380px;
}

/* //////////////////////////////////////////////StudentPageNav/////////////////////////// */
.StudentPageNav__back-button {
  margin: 45px 20px 25px auto
}
.StudentPageNav__back-button:hover {
  background-color: #FFB72F;
}

.StudentPageNav__folder-name {
  color: #b5b3b3;
  font-family: var(--custom-font);
  font-size: 40px;
  height: 50vh;
  margin: 0 0 0 auto;
  text-orientation: upright;
  width: 75px;
  writing-mode: vertical-lr;
}

